{% extends 'base.html' %}
{% load static %}

{% block center%}
<div class="container">
    <div class="row">
      <div class="col">
        <!-- 1 of 3 -->
      </div>
      <div class="col-6 mb-3">
          <h2 class="text-center pt-4">Formulário para cadastro de reserva</h2>
      <hr>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class = "mb-3"> 
              <label for="cnpj" class="form-label">CNPJ</label>   
              {{ form.cnpj }} 
          </div>
          <div class = "mb-3"> 
              <label for="nome" class="form-label">Nome da Empresa</label>   
              {{ form.nome_empresa }} 
          </div>
          <div class = "mb-3"> 
              <label for="categoria" class="form-label">Categoria da Empresa</label>   
              {{ form.categoria_empresa }} 
          </div>
          <div class = "mb-3"> 
              <label for="localizacao" class="form-label">Localização</label>   
              {{ form.localizacao }} 
          </div> 


          <button type="submit" class="btn btn-primary">Enviar</button>

      </form>
    </div>
    <div class="col">
      <!-- 3 of 3 -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- 1 of 3 -->
    </div>
    <div class="col-5">
      <!-- 2 of 3 (wider) -->
    </div>
    <div class="col">
      <!-- 3 of 3 -->
    </div>
  </div>
</div>
    
{% endblock %}