{% extends 'base.html' %}
{% load static %}

{% block center %}
<h3 class="m-4 text-center">Listagem</h3>
{% if messages %}
{% for message in messages %}
  <div{% if message.tags %} class=" {{ message.tags }}p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 m-4 text-center" {% endif %}>
    {{ message }}
  </div>
{% endfor %}
{% endif %}

<div class="container text-center">
    <div class="row mt-3">
        {% for stand in stand %}
       <div class="card text-center mx-4" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Localização: <strong>{{ stand.localizacao }}</strong></h5>
            <a href="{% url 'detalhar_s' stand.pk %}" class="btn btn-primary">Ver mais...</a>
            </div>
        </div> 


        {% empty %}
        <tr>
          <td colspan="4">
            <p>stands ainda não cadastrados.</p>
          </td>       
           {% endfor %}


    </div>
    <div class="pt-4">
      <a href="{% url 'index' %}" class="btn btn-secondary mb-3">Voltar</a>
      <a href="{% url 'cadastrar_s' %}" class="btn btn-info text-white mb-3"><strong>Adicionar</strong></a>
    </div>

    
</div>

<div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
  
      <div class="col">


<!-- INICIO DA PAGINAÇÃO (IMPORTANTE) -->
<div class="intro-y flex flex-wrap sm:flex-row sm:flex-nowrap items-center mt-3">
  <nav class="w-full sm:w-auto sm:mr-auto">
    <ul class="pagination">

      {% if page_obj.number != 1 %}
        <li class="page-item">
          <a class="page-link" href="?page=1&search={{ request.GET.search }}"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevrons-left" class="lucide lucide-chevrons-left w-4 h-4" data-lucide="chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg> </a>
        </li>
      {% endif %}

      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-left" class="lucide lucide-chevron-left w-4 h-4" data-lucide="chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg> </a>
        </li>
      {% endif %}
      {% for pg in page_obj.paginator.page_range %}
        {% if pg == 1 or pg == 2 or pg == page_obj.paginator.num_pages or pg == page_obj.paginator.num_pages|add:'-1' %}

          <li class="page-item {% if page_obj.number == pg %}active{% endif %}"> <a class="page-link" href="?page={{ pg }}&search={{ request.GET.search }}">{{ pg }}</a> </li>

        {% else %}


        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevron-right" class="lucide lucide-chevron-right w-4 h-4" data-lucide="chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
        </li>
      {% endif %}
      {% if page_obj.number != page_obj.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="chevrons-right" class="lucide lucide-chevrons-right w-4 h-4" data-lucide="chevrons-right"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg> </a>
        </li>
      {% endif %}
      <!-- FINAL PORRA -->

    </ul>
  </nav>
</div>

    </div>

    <div class="col">
    </div>
  </div>
</div>


{% endblock %}